*{
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    margin-bottom: 80px;
}

#container{
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
}

h1{
    font-family: 'Anton', sans-serif;
}

p, label, input{
    font-family: 'Oxygen', sans-serif;
}

input[type=button]{
    outline: none;
    border: none;
    padding: 8px;
    font-size: 14px;
}

.btnBuscarHabilitado{
    background-color: #1992d3;
    color: #eee
}
.btnBuscarHabilitado:hover{
    background-color: #115980;
    color: #eee
}

.btnBuscarDesabilitado{
    background-color: #646769;
    color: #eee
}

.btnComenzarHabilitado{
    background-color:  #24a02e;
    color: #eee
}
.btnComenzarHabilitado:hover{
    background-color: #097912;
    color: #eee
}

.btnComenzarDesabilitado{
    background-color: #646769;
    color: #eee
}

.btnFinalizarHabilitado{
    background-color: #f05454;
    color: #eee
}
.btnFinalizarHabilitado:hover{
    background-color: #b62d2d;
    color: #aaa
}

.btnFinalizarDesabilitado{
    background-color: #646769;
    color: #eee
}

.btnReiniciarHabilitado{
    background-color: #6959f3;
    color: #eee
}
.btnReiniciarHabilitado:hover{
    background-color: #3e2af8;
    color: #aaa
}


header{
    background-color: #f05454;
    padding: 10px;
}

header h1{
    font-size: 60px;
    text-align: center;
}
header p{
    text-align: center;
}

#buscar-prin{
    display: flex;
    justify-content: space-evenly;
}

#caja-busq{
    display: flex;
    align-items: center;
}

#caja-busq-contenido{
    border-radius: 5px;
    padding: 20px;
    background-color: #eeeeee;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#image img{
    height: 200px;
    width: 200px;
}

.respuestasIMG{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.respuestasResultados{
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    background-color: #eeeeee;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.respuestasResultados h1{
    font-size: 80px;
    text-decoration: underline;

}

.respuestasResultados h2{
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

.respuestasResultados h3{
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 80px;
}

.respuestasResultados p{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.respuestasResultados em{
    font-size: 20px;
}

#respuestas img{
    width: 300px;
    height: 400px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.seleccionado{
    border: 5px solid red;
}

.oculto{
    display: none;
}

#tiempo{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

#preguntas{
    border-radius: 5px;
    padding: 20px;
    background-color: #eeeeee;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

#preguntas > div > input[type="text"]{
    border: none;
    width: 300px;
    background-color: #eee;
    border-bottom: 2px solid rgba(122, 79, 39, 0.719);
    outline: none;
}

#preguntas > div > input[type="number"]{
    border: none;
    width: 300px;
    background-color: #eee;
    border-bottom: 2px solid rgba(122, 79, 39, 0.719);
    outline: none;
}


.preg{
    display: block;
    margin-top: 40px;
    margin-bottom: 12px;
}

.correcto{
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid green;
    border-radius: 100%;
    background-color: green;
}

.incorrecto{
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid red;
    border-radius: 100%;
    background-color: red;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f05454;
    text-align: center;
}
