html {
    background-color: #ccc;
}

body{
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
}

h1{
    margin: 0;
}

img{
    width: 300px;
    height: 400px;
    margin: 5px;
}

.seleccionado{
    border: 5px solid red;
}
.finalizar{
    display: none;
}

