*{
    margin: 0;
    padding: 0;
}
html {
    background-color: #ccc;
}

body{
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
}
h1{
    font-family: 'Anton', sans-serif;
}

p{
    font-family: 'Oxygen', sans-serif;
}

header{
    background-color: #f05454;
    padding: 10px;
}
header h1{
    font-size: 60px;
    text-align: center;
}
header p{
    text-align: center;
}
#image{
    max-width: 50%;
    display: inline-block;
}

#image img{
    height: 200px;
    width: 200px;
}

#respuestas img{
    width: 300px;
    height: 400px;
    margin: 5px;
}

.seleccionado{
    border: 5px solid red;
}
.oculto{
    display: none;
}

.correcto{
    height: 10px;
    width: 10px;
    border: 1px solid green;
    border-radius: 100%;
    background-color: green;
}

.incorrecto{
    height: 10px;
    width: 10px;
    border: 1px solid red;
    border-radius: 100%;
    background-color: red;
}
